/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

main {
    padding-top: 12vh;
    background-color: #eadac0;
}

html {
    width:100vw;
    height:100vh;
    font-size: 75%;
    overflow-x: hidden;
}


/*Menu*/

.content {
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c32105;
    position:fixed;
    padding-left: 17rem;
    padding-right: 17rem;   
}

.logo {
    width: 100px;
    cursor : pointer;
    display: flex;
    align-items: center;
}

.logo a {
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo h3 {
    align-items: end;
    width: 18rem;
    color: white;
    font-size: 1.6rem;   
}

.logo img {
    width: 110px;
    height: 100px;   
}

.content .list-menu {
    width: 500px;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    list-style: none;
}

.content .list-menu li a {
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: all 200ms ease-in;
}

.content .list-menu li a:hover {
    background-color: #3333;
    border-bottom: 4px solid #ffc506;
    color:#ffc506
}
.first-section {
    height: 100vh;    
    background-image:url(img/fundo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    align-items: center; /* Alinha verticalmente ao centro */
    padding-left: 150px; /* Adiciona um espaçamento à esquerda */
}

.first-section .conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha o conteúdo à esquerda verticalmente */
    justify-content: center; /* Centraliza verticalmente o conteúdo */
}

.first-section h1 {
    color: #ffc506;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.first-section h2 {
    color: rgb(177, 177, 177);
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3rem;
}


.pizza-image {
    margin-top: 80px; 
    margin-right: 50px;
}


.botao-cardapio {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFA500; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

.botao-cardapio:hover {
    background-color: #FF6347; 
}



/*CARDAPIO*/

.container-cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eadac0;
}

.cardapio-h1 {
    background-color: #740005;
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    width: 113vh;
    height: 3rem;
    padding-top: 0.5rem;
    border-radius: 5px;
}

.section-cardapio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #eadac0;
    width: 120vh;
    margin: 1rem;
}

.imagem-prod {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn_pedido {
    text-align: center;
    background-color: #3f1503;
    color: white;
    font-size: large;
    border-radius: 3px;
}

.btn_pedido:hover {
    background-color: #ffc506;
    color: black;
    transition: all 100ms ease-in;
}

h3 {
    font-size: large;
    color: #740005;
}

p {
    width: 25rem;
    font-size: medium;
    color: #444801;
}


/* Galeria */

.container-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eadac0;
}

.gallery-h1 {
    background-color: #740005;
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    width: 113vh;
    height: 3rem;
    padding-top: 0.5rem;
    border-radius: 5px;
}

.gallery-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    margin-left: 240px;
    margin-right: 240px;
    gap: 1vw;
    padding: 0 2vw;
    
}
.gallery-items{
    width:  300px;
    height: 300px;
    border: 5px solid #FFF;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #0006;
    flex-grow: 1;
    transition: transform .3s linear;
}
.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.gallery-items:hover{
    transform: scale(1.1);
}


/*Contact*/

.contactUS{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eadac0;
}

.infobox{
    margin-right: 50px;
}
.infobox div{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.infobox div span{
    min-width: 40px;
    height: 40px;
    color: #ffffff;
    background-color:#740005;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 50%;
    margin-right: 15px;
}

.infobox div p{
    color: #444801;
    font-size: 1.1em;
    font-weight: 1000;
}
.infobox div a{
    color: #444801;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 1000;
}

/* Form */

.formulario{
    display: flex;
    justify-content: center;
}
.formulario .row50{
    display: flex;
    gap: 10px;
    width: 113vh;
}
.inputbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    width: 50%;
}

.formulario .row100 .inputbox{
    width: 100%;
}

.inputbox span{
    color:#3f1503;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500 ;
}

.inputbox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #3f1503;
}

.inputbox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #3f1503;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputbox input[type="submit"]{
    display: flex;
    justify-content: center;
    background:#c32105;
    color: whitesmoke;
    font-size: 1.1em;
    max-width: 200px;
    font-weight: 1000;
    cursor: pointer;
    padding: 14px 15px;
}
.inputbox ::placeholder{
    color: #999;
}

/* Sobre */

.sobre{
    height: 100vh;    
    background-image:url(img/fundo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* Alinha o conteúdo à esquerda */
    align-items: center; /* Alinha verticalmente ao centro */
    padding-left: 150px; /* Adiciona um espaçamento à esquerda */
}

.sobre p{
    display: flex;
    color: #FFF;
}

.sobre h1{
    color: #FFF;
}

